<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/styles/main_page.css">
</head>

<body>
    <%- include("partials/header.ejs") %>
    <div class="hero-section">

    </div>

    <div class="shop-section">
        <div class="box1 box">
            <div class="div-content">
                <p>Health & Personal Care</p>
                <div class="box-img" style="background-image: url('/images/health.jpg');"></div>
                <a href="" class="anchor-pro">Shop now</a>
            </div>

        </div>

        <div class="box2 box">
            <div class="div-content">
                <p>Electronics</p>
                <div class="box-img" style="background-image: url('images/electronics.jpg');"></div>
                <a href="" class="anchor-pro">See more</a>
            </div>
        </div>

        <div class="box3 box">
            <div class="div-content">
                <p>For your Fitness Needs</p>
                <div class="box-img" style="background-image: url('images/fitness.jpg');"></div>
                <a href="" class="anchor-pro">Shop now</a>
            </div>
        </div>

        <div class="box4 box">
            <div class="div-content">
                <p>New Arrivals in Toys</p>
                <div class="box-img" style="background-image: url('images/toys.jpg');"></div>
                <a href="" class="anchor-pro">Shop now</a>
            </div>
        </div>

        <div class="box5 box">
            <div class="div-content">
                <p>Home Decorations Under $20</p>
                <a href="" class="anchor-pro">Shop now</a>
                <div class="home-decoration">
                    <img src="images/home_decoration/1.jpg" alt="">
                    <img src="images/home_decoration/2.jpg" alt="">
                    <img src="images/home_decoration/3.jpg" alt="">
                    <img src="images/home_decoration/4.jpg" alt="">
                    <img src="images/home_decoration/5.jpg" alt="">
                </div>
            </div>
        </div>
        
        <div class="box" style="height: fit-content;">
            <div class="div-content">
                <p>Aashirvaad Wheat Flour</p>
                <div class="box-img" style="background-image: url('images/flour.png');"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="box" style="height: fit-content;">
            <div class="div-content">
                <p>Refrigerator</p>
                <div class="box-img" style="background-image: url('images/fridge.png');"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="box" style="height: fit-content;">
            <div class="div-content">
                <p>Blue Polka Dot Dress</p>
                <div class="box-img" style="background-image: url('images/dress.png');"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="box" style="height: fit-content;">
            <div class="div-content">
                <p>Smart Watch</p>
                <div class="box-img" style="background-image: url('images/watch.png'); object-fit:cover ;"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

         

        <div class="box" style="height: fit-content;">
            <div class="div-content" >
                <p>Water Bottle</p>
                <div class="box-img" style="background-image: url('images/bottle.png');"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>

        </div>

        <div class="box" style="height: fit-content;">
            <div class="div-content" >
                <p>Notebooks</p>
                <div class="box-img" style="background-image: url('images/notebook.png');"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <div class="box" style="height: fit-content;">
            <div class="div-content">
                <p>Medicine</p>
                <div class="box-img" style="background-image: url('images/medicine.png');"></div>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <div class="box" style="height: fit-content;">
            <div class="div-content">
                <p>Bag</p>
                <div class="box-img" style="background-image: url('images/bag.png');"></div>
                <button type="button">Add to Cart</button>
            </div>
        </div>
    </div>


    <footer style="margin-top:2vh;">
        <div class="footer-panel1">
            <a href="">Back to top</a>
        </div>

        <div class="footer-panel2">
            <ul>
                <p>Get to Know Us</p>
                <a href="">Careers</a>
                <a href="">Blog</a>
                <a href="">About Amazon</a>
                <a href="">Investor Relations</a>
                <a href="">Amazon Devices</a>
                <a href="">Amazon Science</a>
            </ul>
            <ul>
                <p>Make Money with Us</p>
                <a href="">Sell products on Amazon</a>
                <a href="">Sell on Amazon Business</a>
                <a href="">Sell apps on Amazon</a>
                <a href="">Become an Affiliate</a>
                <a href="">Advertise Your Products</a>
                <a href="">Self-Publish with Us</a>
                <a href="">Host an Amazon Hub</a>
                <a href="">See More Make Money with Us</a>
            </ul>
            <ul>
                <p>Amazon Payment Products</p>
                <a href="">Amazon Business Card</a>
                <a href="">Shop with Points</a>
                <a href="">Reload Your Balance</a>
                <a href="">Amazon Currency Converter</a>
            </ul>
            <ul>
                <p>Let Us Help You</p>
                <a href="">Amazon and COVID-19</a>
                <a href="">Your Account</a>
                <a href="">Your Orders</a>
                <a href="">Shipping Rates & Policies</a>
                <a href="">YReturns & Replacements</a>
                <a href="">Manage Your Content and Devices</a>
                <a href="">Amazon Assistant</a>
                <a href="">Help</a>

            </ul>
        </div>

        <div class="footer-panel3">
            <div class="footer-logo"></div>
            <div class="nav-lang border">
                <div class="lang">
                    <i class="fa-solid fa-globe"></i>
                </div>
                <select class="lang-options">
                    <option>English</option>
                </select>
            </div>
        </div>


    <%- include("partials/footer.ejs")%>
    </footer>

</body>

</html>